{{>header}}

    <section class="container py-3 my-4">
        <a class="btn btn-sm px-3 btn-outline-secondary" href="http://localhost:{{ port }}/blog/{{ langId }}/0/11">Back to Home Page</a>
        <h3 class="display-4 py-3">{{ data.title}}</h3>
        <p class="lead">{{ data.content}}</p>
    </section>
{{>footer}}