<footer class="sticky-bottom bg-dark text-center text-light p-4">
    <h3 class="display-6">This the footer</h3>
    <p class="text-muted">copyright &copy; 2021 all rights reserved</p>
</footer>
</body>
</html>