<a
  class="text-dark display-5 m-3"
  data-bs-toggle="collapse"
  href="#chat-card"
  role="button"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  <i class="fas fa-sms"></i
></a>

<div
  class="card collapse"
  id="chat-card"
  style="width: 300px; max-height: 400px"
>
  <div id="send" class="chat-card card-body">
    <p class="text-start">...</p>
  </div>
  <div class="card-footer">
    <input
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
      type="text"
      class="form-control"
    />
  </div>
</div>
